<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="solutions.doubts" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".DoubtsApplication"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:mimeType="application/doubts.solutions" />
                <data
                    android:scheme="https"
                    android:mimeType="application/doubts.solutions" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginTheme" >
        </activity>
        <activity
            android:name=".activities.feed.FeedActivity"
            android:theme="@style/AppTheme.FeedTheme" >
        </activity>
        <activity android:name=".activities.common.QuestionViewActivity" >
        </activity>
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:theme="@style/AppTheme.ProfileTheme" >
        </activity>
        <activity
            android:name=".activities.createdoubt.CreateDoubtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CreateNewDoubt" >
        </activity>
        <activity
            android:name=".activities.fullscreenimageview.FullscreenImageViewActivity" >
        </activity>
        <!-- BETA
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        -->
    </application>

</manifest>
