<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="solutions.doubts" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="solutions.doubts.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="solutions.doubts.gcm.permission.C2D_MESSAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".DoubtsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon" >
        <activity
            android:name=".activities.feed.FeedActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.FeedTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="application/doubts.solutions"
                    android:scheme="http" />
                <data
                    android:mimeType="application/doubts.solutions"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.authentication.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginTheme" >
        </activity>
        <activity
            android:name=".activities.profile.ProfileActivity"
            android:parentActivityName=".activities.feed.FeedActivity"
            android:theme="@style/AppTheme.ProfileTheme" >
        </activity>
        <activity
            android:name=".activities.createquestion.CreateQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CreateNewDoubt" >
        </activity>
        <activity
            android:name=".activities.questionview.QuestionViewActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name=".activities.fullscreenimageview.FullscreenImageViewActivity" >
        </activity>
        <activity
            android:name=".activities.createanswer.CreateAnswerActivity">
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.newprofile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activities.feed.FeedActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="solutions.doubts.activities.feed.FeedActivity" />
        </activity>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".services.GCMRegistrationService"
            android:label="GCM Registration Service">

        </service>
        <service
            android:name=".services.DoubtsGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.DoubtsInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
    </application>

</manifest>
